body {
    margin: 0pt;
    width: 100vw;
    height: 100%;
    background-color: black;
}

main{
    margin: 50pt;
    margin-top: 30pt;
    height: fit-content;
}

section{
    height: auto;
    padding-top: 50pt;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile-img{
    max-width: 15%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
    color: white;
}

#contact{
    height: 25vh;
}

#email-div, #linkedin-div, #github-div{
    padding-top: 10pt;
}