body {
    margin: 0pt;
    width: 100vw;
    height: 100%;
    background-color: black;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url(Images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur{
    background: radial-gradient(black, transparent);
    background-position: center;
    width: fit-content;
    height: fit-content;
}


.social-buttons{
    font-size: xx-large;
}

.social-button-backgrounds{
    background: radial-gradient(black, transparent);
    padding: 10px;
    border-radius: 50%;

}


section{
    padding-top: 50pt;
}

#home{
    display: flex;
    justify-content: center;
    height: 100vh;
}

#about{
    padding-top: 8em;
    padding-bottom: 8em;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile-img{
    max-width: 15%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
    color: white;
}

#contact{
    height: 25vh;
}

#email-div, #linkedin-div, #github-div{
    padding-top: 10pt;
}

footer{
    margin-bottom: 50pt;
}