body {
    margin: 0pt;
    width: 100vw;
    height: 100%;
    background-color: black;
}

section{
    padding-top: 68px;
}

.home-container{
    display: flex;
    justify-content: center;
    padding-top: 0pt;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile-img{
    width: 15%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
    color: white;
}

.banner{
    width: 100vw;
    height: 100vh;
    background-image: url(Images/banner.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-blur{
    background: radial-gradient(black, transparent);
    background-position: center;
    width: fit-content;
    height: fit-content;
    padding-bottom: 1em;
}

.social-button{
    font-size: xx-large;
}

.social-button-background{
    background: radial-gradient(black, transparent);
    padding: 8px;
    border-radius: 50%;
}

#messageButton{
    background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(0, 0, 0, 0.1));
    padding: 32px;
}

#bio-pic{
    width: 25%;
}

#left-prj-curtain{
    background: radial-gradient(at left, rgb(88, 180, 255) 20%, transparent 80%);
    background-size: cover;
    background-position: center;
}

#right-prj-curtain{
    background: radial-gradient(at right, rgb(88, 180, 255) 20%, transparent 80%);
    background-size: cover;
    background-position: center;
}

#email-div, #linkedin-div, #github-div{
    padding-top: 10pt;
}

footer{
    margin-bottom: 50pt;
}

input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid blue; /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(0, 0, 186);
}

#contactForm label{
    color: white;
}

#contactForm #source{
    width: 50%;
}

#contactSuccessAlert{
    max-width: 250px;
    margin-top: 60px;
}

/*When screen width is greater than 768px */
@media only screen and (min-width: 768px) {
    .project-image-mobile{
        display: none;
    }
}

/* Mobile View - When screen width is less than 768px */
@media only screen and (max-width: 768px) {

    #bio-container, #contact-info-div {
        flex-direction: column;
    }

    .project-image{
        display: none;
    }

}

@media only screen and (max-width: 992px) and (min-width: 768px){
    #logo-name{
        display: none;
    }
}